@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css");

* {
	transition-duration: 0.2s;
}

header a {
	color: white;
	text-decoration: none;
}

header > a {
	display: flex;
}

header > a > h1 {
	font-size: 48px;
	padding-left: 10px;
	padding-bottom: 0;
	margin-top: 12px;
	margin-bottom: 12px;
}

header > span {
	font-size: 12px;
	padding-left: 20px;
}

header > nav {
	margin-top: 20px;
}

header > nav > a {
	padding: 10px;
	margin-right: 5px;
	border-radius: 6px;
}

header > nav > a:hover {
	background-color: #223153;
}

header > nav > a:active {
	background-color: #2a4074;
}

body {
	background-color: #0c121f;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

main {
	background-color: #0e1525;
	color: white;
	font-family: Hack;
	padding: 20px;
	max-width: 1000px;
	border-radius: 30px;
}

a:visited {
	color: white;
}

#projects {
	display: inline-block;
}

.project {
	color: white;
	background-color: #263f78;
	padding: 20px;
	border-radius: 8px;
}
.project:hover {
	background-color: #3959a2;
}

.project > a {
	color: white;
	text-decoration: none;
}

li {
	vertical-align: middle;
}

footer {
	
}

footer p {
	font-size: 12px;
}

.language-icon, .tool-icon {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

.language-icon:hover, .tool-icon:hover {
	box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	transform: translate(2px, -2px);
}
